
<div class="text-center">
  <h1>パスワード更新</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user, url: :password, scope: :pass, local: true) do |f| %>
      <div class= "form-group">
        <%= f.label :current_password, '現在のパスワード' %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password, '新しいパスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, 'パスワードの確認' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= f.submit '変更', class: 'btn btn-primary btn block' %>
    <% end %>
  </div>
</div>